.grid-item {
  width: 160px;
  height: 160px;
  border: 1px solid #afafaf;
}

.grid-item-header {
  width: 160px;
  height: 160px;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  text-align: center;
  font-weight: 700;
  line-height: 1.41;
  letter-spacing: 0.39px;
  text-transform: none;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 1.09;
    letter-spacing: 0.5px;
  }
}

.grid-cell {
  background-color: #efefef;
}

.spectrum-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(160px, 1fr));
  grid-template-rows: auto;

  border: 1px solid #333;
}

.spectrum-grid-area {
  height: 700px;
}

.spectrum-grid div.grid-item {
  height: 100px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item {
  padding: 0.3rem;
}

.grid-item-content {
  width: 100%;
  height: 100%;
}

.border-t {
  border-top: 1px solid #333;
}

.border-b {
  border-bottom: 1px solid #333;
}

.border-r {
  border-right: 1px solid #333;
}

.border-l {
  border-left: 1px solid #333;
}
