.spectrum-area {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 0.5rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.spectrum-parent {
  overflow-x: auto;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
}

.spectrum-parent .leftHead {
  transform: rotate(-90deg);
  white-space: nowrap;
  margin-top: 0;
}

.v-stack {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.v-stack div {
  /* transform: rotate(-90deg); */

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  text-align: center;
  font-weight: 700;
  /* line-height: 1.41;
  letter-spacing: 0.39px;
  text-transform: none; */

  @media screen and (min-width: 1024px) {
    /* font-size: 20px; */
    /* line-height: 1.09;
    letter-spacing: 0.5px; */
  }
}

.h-stack {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.h-stack div {
  /* height: 100px; */
  padding-top: 1rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  font-size: 16px;
  text-align: center;
  font-weight: 700;
  /* line-height: 1.41;
  letter-spacing: 0.39px; */
  /* text-transform: none; */

  @media screen and (min-width: 1024px) {
    /* font-size: 20px; */
    /* line-height: 1.09; */
    /* letter-spacing: 0.5px; */
  }
}

.spectrum-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(120px, 1fr));
  grid-template-rows: auto;
  border: 1px solid transparent;
  border-radius: 100%;

  /* border: 1px solid #333; */
}

.spectrum-grid div {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #333; */
}

.spectrum-parent h4 {
  font-weight: 900;
  font-size: large;
}
