@import 'variables.css';

@font-face {
  font-family: 'proxima-nova';
  src: url('https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('woff'),
    url('https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'proxima-nova';
  src: url('https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/5c70f2/00000000000000003b9b3063/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'quatro-slab';
  src: url('https://use.typekit.net/af/bb078e/00000000000000003b9afc0c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/bb078e/00000000000000003b9afc0c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/bb078e/00000000000000003b9afc0c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'quatro-slab';
  src: url('https://use.typekit.net/af/1d4d9c/00000000000000003b9afc0e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/1d4d9c/00000000000000003b9afc0e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/1d4d9c/00000000000000003b9afc0e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'quatro-slab';
  src: url('https://use.typekit.net/af/52abc9/00000000000000003b9afc0f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/52abc9/00000000000000003b9afc0f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('woff'),
    url('https://use.typekit.net/af/52abc9/00000000000000003b9afc0f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3')
      format('opentype');
  font-display: auto;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'quatro-slab';
  src: url('https://use.typekit.net/af/8552ef/00000000000000003b9afc11/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/8552ef/00000000000000003b9afc11/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('woff'),
    url('https://use.typekit.net/af/8552ef/00000000000000003b9afc11/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
      format('opentype');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'proxima-nova', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'quatro-slab', sans-serif;
}

h1 {
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

/* Layout */
.page {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 50px auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartTabber {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 50rem;
  width: 50%;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
.chartTabber button {
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: transparent;
  padding: 20px;
  width: 100%;
  transition: 0.5s ease-in-out;
}
.chartTabber .active {
  background: #ffbbb7;
  color: #ed1b24;
  border-radius: 50rem 0 0 50rem;
}

.section p {
  font-size: 20px;
}
/* Hiding Slider on desktop view (default) */
.slideToggler {
  display: none;
}
.hideDesk {
  display: block;
}
/* Hidding Slider End */

@media screen and (max-width: 768px) {
  .slideToggler {
    display: block;
  }
  .hideDesk {
    display: none !important;
  }
  .container {
    max-width: 720px !important;
  }
  h1 {
    font-size: 1.5rem;
  }
  .chartTabber {
    width: 80%;
  }
  .card .vote-img {
    width: 150px !important;
    height: 150px !important;
  }
  .chartTabber button {
    font-size: 16px;
    padding: 10px;
  }
  .cardLayout {
    grid-template-columns: auto auto auto !important;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
  .cardLayout {
    grid-template-columns: auto auto auto auto !important;
  }
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 920px !important;
  }
  .cardLayout {
    grid-template-columns: auto auto auto !important;
  }
}

@media screen and (max-width: 512px) {
  .section {
    padding: 2rem 0 !important;
  }
  .container {
    max-width: 490px !important;
  }

  .chartTabber {
    width: 100%;
  }
  .chartTabber button {
    font-size: 14px;
    padding: 10px;
  }
  .card .vote-img {
    width: 100px !important;
    height: 100px !important;
  }
  .cardLayout {
    gap: 1px !important;
    width: 100%;
  }
}

/* Search section start */
.card {
  display: inline-block;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
}

.cardLayout {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 40px;
  width: fit-content;
}
.card .vote-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}
.card-select {
  position: relative;
  cursor: pointer;
}

.card-select .vote-img {
  border: 4px solid #ed1b24 !important;
}
.card-select .selected-check {
  background: #ed1b24;
  padding: 5px;
  border: 2px solid white;
  color: white;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: 35%;
}

.card a:link {
  color: #56ccf2;
  font-size: 24px;
  text-decoration: none;
}

.card h3 {
  font-weight: 400;
  color: #214354;
  margin: 0;
  padding: 10px;
}

.card h4 {
  font-weight: 400;
  margin: 0;
  color: #78909c;
  padding-bottom: 20px;
}

.search {
  background: #f4f4f4;
  width: 100%;
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  margin-bottom: 50px;
}

.search input {
  font-size: 18px;
  width: 100%;
  height: 60px;
  padding-left: 50px;
  text-indent: 25px;
  border-radius: 10px;
  border: 2px solid #d6d4d4;
}

.search input:focus-visible,
.search input:focus {
  box-shadow: none;
  border: 2px solid #999999;
  outline: none;
}

.search .fa-search {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 30px;
  color: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
}

.secondaryHead {
  color: #214354 !important;
}

/* Search Section End */

hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.ctav {
  text-decoration: none;
  font-family: 'Roboto Slab';
  background-color: #ed1b24;
  font-weight: 800;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
.ctav i {
  padding-left: 10px;
}

.success {
  background-color: rgba(0, 128, 0, 0.1);
  color: #008000;
  padding: 20px;
  text-align: center;
}

.success .fa-check {
  border-radius: 100%;
  padding: 5px;
  color: white;
  background-color: #008000;
}

.success button {
  padding: 12px 10px;
  background: #ffffff;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #cccccc;
  color: #214354;
  word-spacing: 10px;
}
