:root {
  --white: #fff;
  --black: #000;
  --nero: #222;
  --light-black: #202020;
  --gray: #5a5a5a;
  --primary-color-light: rgba(236, 34, 39, 0.25);
  --primary-color: #ec2227;
  --secondary-color: #231f20;
  --primary-color-dark: #d51014;
  --primary-color-dark1: #af0a0e;
  --nl-red: var(--primary-color);
  --nl-black: var(--secondary-color);
  --nl-gray1: var(--white);
  --nl-gray2: #616160;
  --nl-gray3: #afafaf;
  --nl-gray4: #484f59;
  --nl-gray5: #686868;
  --nl-gray6: #e1e1e1;
  --nl-gray7: #d8d8d8;
  --nl-gray8: #979797;
  --nl-gray9: #9c9c9c;
  --n1-gray10: #606060;
  --nl-gray12: #333;
  --nl-gray13: #4c4c4c;
  --nl-gray14: #818181;
  --nl-gray15: #4b4b4b;
  --nl-gray94: #f0f0f0;
  --nl-gray16: #626060;
  --nl-gray17: #4a4a4a;
  --nl-gray18: #313;
  --nl-gray19: #f9f9f9;
  --nl-gray20: #4c4a4b;
  --nl-gray21: #626262;
  --nl-gray-22: #4d4d4d;
  --nl-gray23: #9f9f9f;
  --nl-gray24: #f4f6f8;
  --lighest-gray: #f7f7f7;
  --lighter-gray: #e9e6e6;
  --close-button: #b9b5b5;
  --checkbox-color: #d0d0d0;
  --whisper: #e4e4e4;
  --sub-menu-border-color: #d9d9d9;
  --dodger-blue: #1da1f2;
  --success-color: #0f0;
  --podcast-icon-color: #3c3c3c;
  --body-bgcolor: var(--white);
  --milano-red: #af0a0e;
  --z-level-1: 100;
  --z-level-2: 200;
  --z-level-6: 600;
  --z-level-7: 700;
}
