.sliderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 18px;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  scroll-behavior: smooth;
  z-index: 1;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 20px;
    cursor: pointer;
    border-radius: 2px;
  }
}

.leftRight {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider.political {
  background: #dbdbdb;
  &::-webkit-slider-thumb {
    padding: 15px;
    border-radius: 100%;
    background: #ed1b24;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  }
}

output.political {
  color: #ed1b24;
  font-size: 0.75rem;
}

output.social {
  color: #ed1b24;
  font-size: 0.75rem;
}

.slider.social {
  background: #dbdbdb;
  &::-webkit-slider-thumb {
    padding: 15px;
    border-radius: 100%;
    background: #ed1b24;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  }
}

@media screen and (max-width: 768px) {
  .slider {
    width: 100%;
  }
}
